<section id="education" class="education-section">
  <div class="container">
    <div class="section-header" data-aos="fade-up">
      <h2>Education & Certifications</h2>
      <p>My academic background and professional certifications</p>
    </div>
    
    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <div class="card">
          <h3>Education</h3>
          <div class="education-item">
            <h4>{{ education.degree }}</h4>
            <h5>{{ education.institution }}</h5>
            <div class="education-meta">
              <span><i class="fas fa-calendar-alt"></i> {{ education.duration }}</span>
              <span><i class="fas fa-graduation-cap"></i> GPA: {{ education.grade }}</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6" data-aos="fade-left">
        <div class="card">
          <h3>Certifications</h3>
          <div class="certification-list">
            <div class="certification-item" *ngFor="let cert of certifications">
              <h4>{{ cert.name }}</h4>
              <div class="cert-meta">
                <span><i class="fas fa-calendar-alt"></i> {{ cert.duration }}</span>
              </div>
              <p>{{ cert.description }}</p>
              <a *ngIf="cert.link" href="{{ cert.link }}" target="_blank" class="cert-link">
                <i class="fas fa-external-link-alt"></i> View Credential
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>