@use 'variables' as *;

.footer {
  background-color: $primary-color;
  color: white;
  padding: 2rem 0;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-links {
    a {
      color: white;
      margin-left: 1rem;
      font-size: 1.2rem;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
    }
  }
}